html, body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;    
}

body {
    background-color: #272822; 
    /* Remove o espaçamento em torno do elemento */
    margin: 0;
}

/* Header */

h1, h2 {
    /* Remove o espaçamento em torno do elemento */
    margin: 0;
}

#title-container {
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3A73AA;
}

.subtitle {
    font-size: 2em;
    /* Tira o negrito padrão do h1 */
    font-weight: normal;
}

.main-title {
    font-size: 3.5em;
}

/* Navbar */

#navbar {
    height: 25px;
    /* max-width é 100% relativo ao width do elemento pai */
    max-width: 100%;
    background-color: white;
}

#btn-container {
    max-width: 600px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

button {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: #3A73AA;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: bold;
    /*font-size: inherit;*/
    /* Tira a cor em volta quando é clicado */
    outline: none;

    -webkit-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    /* transition: <na onde quer que aplique (qual propriedade)> <duração> <tipo>*/
    transition: all 150ms linear;
}

button:hover, .btn-click {
    background-color: #3A73AA;
    color: white;
}

#feedback-display {
    /* centraliza verticalmente o texto do span */
    line-height: 25px; 
}

#btn-newgame {
    float: left;
}

.btn-difficulty {
    float: right;
}

/* Quadrados */

#container {
    /* é responsivo com comprimento menor que 600px, se ficar maior que isso trava em 600px */
    max-width: 600px;
    /* 0 em top/bottom e auto em right/left */
    margin: 0 auto;
}

.square {
    /* pega apenas 30% do comprimento do elemento pai (div com id = container) */
    width: 30%;
    /* pega os 10% restantes do comprimento do elemeto pai e divide entre 6 margens*/
    margin: 3.32% 1.66% 0% 1.66%;
    padding-bottom: 30%;
    border-radius: 25px;
    float: left;
    /*background-color: orange;*/
}

.color-transition {
    /* webkit e ms são para compatibilidade entre browsers */
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    /* transition: <na onde quer que aplique (qual propriedade)> <duração> <tipo>*/
    transition: background-color 500ms linear;
}