body {
    padding-top: 70px;
}

/* Utilizada para alinhar e remover os espaços em branco entre fotos de tamanhos diferentes */
/* https://www.udemy.com/the-web-developer-bootcamp/learn/v4/questions/1989586 */
.flex {
    display: flex;
    flex-wrap: wrap;
}

/* Redimensionar imagens para o mesmo tamanho - não funcionou */
/* https://codepen.io/nax3t/pen/MJwpdb */
/*.image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}*/

/* Alteramos a cor de tudo o que está dentro do jumbotron original */
.jumbotron {
    color: #2c3e50;
    background: #ecf0f1;
}

/* ou .navbar-inverse ou .navbar-fixed-top */
.navbar { 
    background: #2c3e50;
}

/* pegou o seletor pela Inspector do Chrome */
/* seleciona os <a> que são filhos diretos de <li> os quais são filhos diretos de .navbar-nav e estão dentro de .navbar-inverse */
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}